*{
    box-sizing: border-box;
}
h1, h2, p, form, body{
    margin: 0;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #fff;
    position: relative;
    z-index: 1;    
}
header h1{
    font-size: 60px;
    margin-bottom: 20px;
}
header hr{
    border: 3px solid #fff;
    border-radius: 12px;
    margin-bottom: 20px;
}
header p{
    display: inline-block;
    width: 650px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
}
header button{
    outline: none;
    vertical-align: top;
    height: 70px;
    width: 220px;
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
header .cover{
    background-color: rgba(14%, 16%, 26%, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.foto{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 450px);
}
.item{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.item:nth-child(1){
    background-image: url(img/pic01.jpg);   
}
.item:nth-child(2){
    background-image: url(img/pic02.jpg);
    grid-column: span 2;
}
.item:nth-child(3){
    background-image: url(img/pic03.jpg);
    grid-column: span 2;
}
.item:nth-child(4){
    background-image: url(img/pic04.jpg);
}
.item:nth-child(5){
    background-image: url(img/pic05.jpg);
}
.item:nth-child(6){
    background-image: url(img/pic06.jpg);
    grid-column: span 2;
}

.item-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: ease 0.3s;
}

.cover1{
    background-color: rgba(122, 192, 216, 0.7);
}
.cover2{
    background-color: rgba(143, 134, 193, 0.7);
}
.cover3{
    background-color: rgba(229, 146, 137, 0.7);
}
.cover4{
    background-color: rgba(223, 182,144, 0.7);
}
.cover5{
    background-color: rgba(139, 161, 218, 0.7);
}
.cover6{
    background-color: rgba(121, 174,150, 0.7);
}
.item-cover:hover{
    background-color: rgba(121, 174,150, 0);
}
.item:hover{
    background-color: rgba(121, 174,150, 0);
}
.item-content{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;  
    transform: translate(-50%, -50%);
}
.foto h2{
    font-size: 50px;
    border-bottom: 5px solid #fff;
    padding-bottom: 10px;
    width: 120%;
    margin-bottom: 10px;
}
.foto p{
    letter-spacing: 5px;
    font-size: 20px;
}
.feedback{
    background-color: #242943;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.feedback h1{
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    border-bottom: 5px solid #fff;
    padding-bottom: 10px;
}
.feedback form{
    display: grid;
    grid-template-areas: 
                        'name_l email_l'
                        'name_i email_i'
                        'message_l .'
                        'message_i message_i'
                        'btn .';
    grid-template-rows: minmax(auto, auto) 50px minmax(auto, auto) 150px 50px;
    grid-gap: 15px;
}

#name_l{
    grid-area: name_l;
    
}
#email_l{
    grid-area: email_l;
}
#message_l{
    grid-area: message_l;
}
#name_i{
    grid-area: name_i;
}
#email_i{
    grid-area: email_i;
}
#message_i{
    grid-area: message_i;
}
.feedback button{
    grid-area: btn;
    border: none;
    outline: none;
    background-color: #fff;
    color:  #242943;
    font-weight: 300;
    font-size: 20px;
}
input, textarea{
    border: none;
    outline: none;
    background-color: #2a2f4a;
}
label{
    font-weight: 300;
    letter-spacing: 5px;
}
/* стили домашнего задания */
.about{
    background-color: #2a2f4a;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.about h1{
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    border-bottom: 5px solid #fff;
    padding-bottom: 10px;
}
.about p{
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 20px;
}
.about button{
    outline: none;
    vertical-align: top;
    height: 70px;
    width: 220px;
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}